/* 
LEER ANTES DE EDITAR
La contrucción de este archivo fue programada con Sass, por lo tanto es un compilado de archivos CSS como Bootstrap y estilos propios del sitio.
Para Editar los estilos, buscar mediante el comando CTRL+F: "Main Styles", y editar al final de estos para efectos de mantenimiento.
*/


@import "bootstrapcustom";
@import "fonts";


/**********************************
            HEADER
**********************************/
.navbar-brand img{
    max-width:150px;
    vertical-align:sub;
}

.gradient-bg{
    background-image: $gradient;
    /* background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);
    box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75); */
    //background-size: 300% 100%;
    background-size: 200% 100%;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.gradient-bg:hover{
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.banner{
    margin-top: 30px;
   
    .container{
        border-radius:10px;
        .principal-card-row{
            height: 60vh;
            border-top-left-radius: 10px;
            border-top-right-radius:10px;
            .principal-card-text{
                display: flex;
                padding: 30px;
                border-top-right-radius:10px;
                justify-content: center;
                .content-text{
                    align-self: center;
                    text-decoration: none;
                }
            }
        }
        .secondary-card-row{
            height: 40vh;
            
            .secondary-card-text{
                display: flex;
                justify-content: center;
                padding: 0;
                .content-text{
                    padding:15px;
                    padding-bottom:30px;
                    align-self: flex-end;
                }
            }
        }
    }
    

}
.post-feed{
    .post-bottom-left img{
        border-bottom-left-radius: 10px;

    }
    .post-bottom-right img{
        border-bottom-right-radius:10px;
    }
    .post-top-left img{
        border-top-left-radius:10px;
    }
    a{
        display: block;
        position: relative;
        width: 100%;
        padding: 66.25% 0 0 0;
        overflow: hidden;
        img{
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
        }
        header{
            position: absolute;
            bottom: 0;
            left: 0;
            box-sizing: border-box;
            width: 100%;
        }
        header.content-principal{
            bottom: auto;
            left: auto;
        }
    }
}

footer{

    
    background: $primary;
    .footer-section{
        min-height: 365px;
        background-position: center !important;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        margin: 0;
        margin-top: 65px;
        position: relative;
        .card-tag-footer{
            position: absolute;
            height: 363px;
            width: 628px;
            top: -42px;
            right: 0;
        }
    }
    .copyright-section{
        background: #fff;
        min-height:65px;
        margin: 0;
    }
    .line-gradient-footer{
        background: rgb(189, 189, 189);
        background: linear-gradient(89.99deg, #2BAACD 0.01%, #487AC4 10.6%, #7641BF 20.4%, #AE69BF 39.9%, #E6446B 50.01%, #B8519E 55.65%, #763DBE 68.52%, #487AC4 87.91%, #2BAACD 99.99%);
        background-size: 300% 100%;
	    animation: gradient 15s ease infinite;
        height:12px;
        margin: 0;
        /* background-size: cover;
        background-position: center; */
    }
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
}